/* some colors you may find useful:
  #115ff4 light blue
  #060ce9 dark blue
  #28a200 green
  #8d2ab5 purple 
  #74119c darker purple
*/

/* //color background blue, text orange */

header {
  text-align: center;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

#spin-container{
  text-align: center;
}

.question {
  background-color:  #115ff4;
}

.text-question{
  background-color: #060ee990;
  /* background-color:  #060ce9; */
}

.answer{
  background-color: #23749a;
}

table {
  text-align: center;
  margin: 20px auto;
}

td {
  border: 2px solid #8c6b48;
  width: 300px;
  height: 100px;
}

th {
  border: 2px solid #8c6b48;
}
